$var url: /about
$var title: About
<div id="tooplate_content_wrapper">

		<div id="tc_top"></div>

		<div id="tooplate_content">
			<div class="content_box">

				<h1>About Us</h1>
				<div class="image_wrapper image_fl"><img src="/static/images/tooplate_image_01.jpg" alt="Image 01" /></div>
				<h3>Müslüm Ersel Er Web Project</h3>

				<div class="cleaner_h20"></div>

				<div class="cleaner"></div>
			</div>
		</div>

		<div id="tc_bottom"></div>
	</div> <!-- end of content wrapper -->

	<div id="tooplate_sidebar_wrapper">
		<div id="tooplate_sidebar_top"></div>

		<div id="tooplate_sidebar">

			<div class="sb_box">
				<h3>Categories</h3>
				<ul class="tooplate_list">
					<li><a href="#">Aenean lacinia nunc id</a></li>
					<li><a href="#">Cras sed neque et eros</a></li>
					<li><a href="#">Donec eget massa eget</a></li>
					<li><a href="#">Etiam eu velit sapien</a></li>
					<li><a href="#">Integer hendrerit nisi</a></li>
					<li><a href="#">Maecenas sit odio ut</a></li>
					<li><a href="#">Phasellus tempus metus</a></li>
					<li><a href="#">Sed iaculis orci eget est</a></li>
				</ul>
			</div>

			<div class="cleaner"></div>
		</div>

		<div id="tooplate_sidebar_bottom"></div>

	</div> <!-- end of sidebar wrapper -->

	<div class="cleaner"></div>
