$def with(hero, quote, abilities)
$var title: $hero['name']
<div id="tooplate_content_wrapper">
	<div id="tc_top"></div>

	<div id="tooplate_content">
<center>
	<h2>$hero['name']</h2>
	<img class="hero-full" src="$hero['image_full']">
</center>
        <h3>Overview</h3>
        <table border="0" id="overview-first-table">
        	<tbody>
          	<tr>
          		<td class="overview-td">Faction:</td>
          		<td>$hero['faction']</td>
          	</tr>
          	<tr>
          		<td class="overview-td">Attack Type:</td>
          		<td>$hero['attack_type']</td>
          	</tr>
          	<tr>
          		<td class="overview-td">Primary Attribute:</td>
          		<td>$hero['primary_attribute']</td>
          	</tr>
          	<tr>
          		<td class="overview-td" valign="top">Role(s):</td>
          		<td width="150px">$hero['roles']</td>
          	</tr>
          </tbody>
        </table>
        <table>
        	<tr>
        		<td><img src="/static/images/str.png"></td>
        		<td>$hero['str']</td>
        	</tr>
        	<tr>
        		<td><img src="/static/images/agi.png"></td>
        		<td>$hero['agi']</td>
        	</tr>
        	<tr>
        		<td><img src="/static/images/int.png"></td>
        		<td>$hero['int']</td>
        	</tr>
        </table>
        <hr class="content-hr">
        <h3>Bio</h3>
        <p>$hero['bio']</p>
        <hr class="content-hr">
        <h3>Abilities</h3>
        <table>
        	<tbody>
        		
              $for ability in abilities:
                $for a in ability['abilities']
                  <tr valign="top">
        			    <td><img class="skill-img" src="$a['image']"></td>
        			    <td>
			            <h5>$a['name']</h5>

				          <p class="skill-paragraph">$a['description']</p>

				          <img id="mana" src="/static/images/mana.png"> <span id="manacost-text">Mana Cost: $a['manacost']</span><br>
				          <img id="cooldown" src="/static/images/cooldown.png"> <span id="cooldown-text">Cooldown: $a['cooldown']</span>

			            </td>
        		      </tr>
        	</tbody>
        </table>
    
    </div>

<div id="tc_bottom"></div>
</div> <!-- end of content wrapper -->
