$var url: /heroes
$var title: Heroes
        <div id="tooplate_content_wrapper">
        	<div id="tc_top"></div>

        	<div id="tooplate_content">
								<div class="header-container">
                	<span class="heroes-header" id="str">Strength</span>
								</div>
                <hr class="contetn-hr">
                <table border="0" align="center">
                    <thead>
                        <tr align="center">
                            <td width="150"></td>
                            <td width="100"><h5>Roles</h5></td>
                            <td width="100"><h5>Attack Type</h5></td>
                            <td width="100"><h5>Faction</h5></td>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td><h6>Earth Shaker</h6><a href="/hero"><img class="items-img" src="/static/images/heroes/earthshaker.jpg">
                            </a></td>
                            <td>Disabler, Initiator, Support, Lane Support</td>
                            <td>Melee</td>
                            <td>The Dire</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Dragon Knight</h6><img class="items-img" src="/static/images/heroes/dragon_knight.jpg"></td>
                            <td>Carry, Durable, Disabler, Pusher</td>
                            <td>Melee</td>
                            <td>The Dire</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Earth Shaker</h6><img class="items-img" src="/static/images/heroes/earthshaker.jpg"></td>
                            <td>Disabler, Initiator, Support, Lane Support</td>
                            <td>Melee</td>
                            <td>The Radiant</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Dragon Knight</h6><img class="items-img" src="/static/images/heroes/dragon_knight.jpg"></td>
                            <td>Carry, Durable, Disabler, Pusher</td>
                            <td>Melee</td>
                            <td>The Radiant</td>
                        </tr>
                    </tbody>
                </table>
								<div class="header-container">
									<span class="heroes-header" id="agl">Agility</span>
								</div>
                <hr class="contetn-hr">
                <table border="0" align="center">
                    <thead>
                        <tr align="center">
                            <td width="150"></td>
                            <td width="100"><h5>Roles</h5></td>
                            <td width="100"><h5>Attack Type</h5></td>
                            <td width="100"><h5>Faction</h5></td>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td><h6>Earth Shaker</h6><img class="items-img" src="/static/images/heroes/earthshaker.jpg"></td>
                            <td>Disabler, Initiator, Support, Lane Support</td>
                            <td>Melee</td>
                            <td>The Dire</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Dragon Knight</h6><img class="items-img" src="/static/images/heroes/dragon_knight.jpg"></td>
                            <td>Carry, Durable, Disabler, Pusher</td>
                            <td>Melee</td>
                            <td>The Dire</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Earth Shaker</h6><img class="items-img" src="/static/images/heroes/earthshaker.jpg"></td>
                            <td>Disabler, Initiator, Support, Lane Support</td>
                            <td>Melee</td>
                            <td>The Radiant</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Dragon Knight</h6><img class="items-img" src="/static/images/heroes/dragon_knight.jpg"></td>
                            <td>Carry, Durable, Disabler, Pusher</td>
                            <td>Melee</td>
                            <td>The Radiant</td>
                        </tr>
                    </tbody>
                </table>
								<div class="header-container">
									<span class="heroes-header" id="int">Intelligence</span>
								</div>
                <hr class="contetn-hr">
                <table border="0" align="center">
                    <thead>
                        <tr align="center">
                            <td width="150"></td>
                            <td width="100"><h5>Roles</h5></td>
                            <td width="100"><h5>Attack Type</h5></td>
                            <td width="100"><h5>Faction</h5></td>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td><h6>Earth Shaker</h6><img class="items-img" src="/static/images/heroes/earthshaker.jpg"></td>
                            <td>Disabler, Initiator, Support, Lane Support</td>
                            <td>Melee</td>
                            <td>The Dire</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Dragon Knight</h6><img class="items-img" src="/static/images/heroes/dragon_knight.jpg"></td>
                            <td>Carry, Durable, Disabler, Pusher</td>
                            <td>Melee</td>
                            <td>The Dire</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Earth Shaker</h6><img class="items-img" src="/static/images/heroes/earthshaker.jpg"></td>
                            <td>Disabler, Initiator, Support, Lane Support</td>
                            <td>Melee</td>
                            <td>The Radiant</td>
                        </tr>
                        <tr align="center">
                            <td><h6>Dragon Knight</h6><img class="items-img" src="/static/images/heroes/dragon_knight.jpg"></td>
                            <td>Carry, Durable, Disabler, Pusher</td>
                            <td>Melee</td>
                            <td>The Radiant</td>
                        </tr>
                    </tbody>
                </table>
            </div>

			<div id="tc_bottom"></div>
        </div> <!-- end of content wrapper -->

        <div id="tooplate_sidebar_wrapper">
            <div id="tooplate_sidebar_top"></div>

            <div id="tooplate_sidebar">

                <div class="sb_box">
                    <h3>Categories</h3>
                    <ul class="tooplate_list">
                        <li><a href="#">Aenean lacinia nunc id</a></li>
                        <li><a href="#">Cras sed neque et eros</a></li>
                        <li><a href="#">Donec eget massa eget</a></li>
                        <li><a href="#">Etiam eu velit sapien</a></li>
                        <li><a href="#">Integer hendrerit nisi</a></li>
                        <li><a href="#">Maecenas sit odio ut</a></li>
                    </ul>
                </div>

                <div class="cleaner"></div>
            </div>

            <div id="tooplate_sidebar_bottom"></div>
        </div> <!-- end of sidebar wrapper -->

        <div class="cleaner"></div>
