$def with(announcements)
$var url: /
$var title: Dota 2 Homepage
<center><h1>Everything About Dota 2</h1></center>
  <div id="tooplate_content_wrapper">
 	<div id="tc_top"></div>
    <div id="tooplate_content">
    $for announcement in announcements:  
      <h2>$announcement['headline']</h2>
      <center><img class="content-img"src="$announcement['image']"></center>
      <p class="content-p">$announcement['content']</p> 
      <hr class="content-hr">
      <div class="cleaner"></div>
    </div>
  <div id="tc_bottom"></div>
  </div> <!-- end of content wrapper -->
