<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dota 2 | Home</title>
<link rel="icon" type="image/png" href="static/images/favicon.png">
<meta name="keywords" content="city blog, theme, free templates, website templates, CSS, HTML" />
<meta name="description" content="City Blog Theme is a free website template provided by tooplate.com" />
<link href="static/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="tooplate_header_wrapper">
	<div id="tooplate_header">

        <div id="tooplate_menu">

            <ul>
                <li><a href="/" class="current">Home</a></li>
                    <li><a href="/heroes">Heroes</a></li>
                    <li><a href="/items">Items</a></li>
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/guides">Guides</a></li>
                    <li><a href="/about">About</a></li>
            </ul>

        </div>
    <!-- end of tooplate_menu -->

    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->
<div id="tooplate_main_wrapper">
    <div id="tooplate_top"></div>

    <div id="tooplate_main">
    	<center><h1>Everything About Dota 2</h1></center>
        <div id="tooplate_content_wrapper">
        	<div id="tc_top"></div>

        	<div id="tooplate_content">

        		<h2>Preparing for International</h2>
        			<center>
        			<img class="content-img"src="images/announcement01.jpg"></center>
               		<p class="content-p">We wanted to share some information about The International so that you’re able to start making room in your schedules. This year the Main Event in Seattle will include 16 teams and will run for 6 full days, from Monday August 3rd through Saturday August 8th. Ticket availability will be announced on this blog prior to going on sale. Team invitations will occur shortly after May 1st.</p> <hr>
               		<div class="cleaner"></div>
                <h2>The Shifting Snows Update</h2>
        			<center>
        			<img class="content-img"src="images/announcement02.jpg"></center>
               		<p class="content-p">Light dwindles and cold creeps in. The Shifting Snows Update has arrived, bringing with it this year’s Winter Map as well as a small gameplay update. As heroes shiver down the lanes to meet their fate, a new effigy material has emerged from the ice, new treasures have brought new armor to warm by the fire, and the arrival of Gift Wrap heralds the season of Givening. Check out the Shifting Snows Update page for more information.</p> <hr>
               	<h2>New Bloom 2015 Call to Arms</h2>
        			<center>
        			<img class="content-img"src="images/announcement03.jpg"></center>
               		<p class="content-p">Once again, we’re putting out a call to artists to create items based around the themes of Chinese New Year, Chinese history, and springtime, and submit them to the Dota 2 Workshop to be considered for the next New Bloom Festival. This time around we would like to ask artists to avoid the use of dragons and written Chinese characters, as well any concepts that involve human skulls, blood and gore. Additionally, to have the best chance of having your work make it into the game, please be careful not to mix cultural concepts in your designs, such as traditional divisions between the dress of children and adults, warriors and civilians and upper and lower classes. Also, our workshop particle process is due to be reworked, so please refrain from using custom particles in your submission.</p>

					<p>Remember to mark your submissions with the “Spring2015″ tag when placing your items on the Workshop. All submissions must be on the Dota 2 Workshop by January 19th. To everyone else: remember to visit the workshop and vote through your queue to make sure your voice is heard.</p>

					<p>Also, the excellent people at WeLoveFine are hosting a contest for Dota 2 merchandise designs for the New Bloom Festival, so if your talents lean toward creating awesome swag, they’ll have you covered.</p>
        	</div>

			<div id="tc_bottom"></div>

        </div> <!-- end of content wrapper -->

        <div id="tooplate_sidebar_wrapper">
            <div id="tooplate_sidebar_top"></div>

            <div id="tooplate_sidebar">

                <div class="sb_box">
                    <h3>Categories</h3>
                    <ul class="tooplate_list">
                        <li><a href="#">Aenean lacinia nunc id</a></li>
                        <li><a href="#">Cras sed neque et eros</a></li>
                        <li><a href="#">Donec eget massa eget</a></li>
                        <li><a href="#">Etiam eu velit sapien</a></li>
                        <li><a href="#">Integer hendrerit nisi</a></li>
                        <li><a href="#">Maecenas sit odio ut</a></li>
                        <li><a href="#">Phasellus tempus metus</a></li>
                        <li><a href="#">Sed iaculis orci eget est</a></li>
                    </ul>
                </div>

                <div class="cleaner"></div>
            </div>

            <div id="tooplate_sidebar_bottom"></div>

        </div> <!-- end of sidebar wrapper -->

        <div class="cleaner"></div>
			</div>

			<div id="tooplate_bottom"></div>
		</div> <!-- end of main wrapper -->

		<div id="tooplate_footer"> Copyright © 2015 <a href="#">Müslüm Ersel Er</a></div>
		<script src="js/jquery.min.js"></script>
	</body>
</html>
